<%- include('partials/header'); -%>
<main>
<div class="containerAbout">
    <div class="cardAbout">
        <h1>À propos de moi</h1>
        <p>Bonjour! Je m'appelle Andy Christophe, un développeur web passionné basé en France. Avec une solide expérience en développement front-end et back-end, je crée des sites web et des applications performantes et esthétiques. Mon expertise inclut HTML, CSS, JavaScript, ainsi que des frameworks populaires comme React et Node.js. Je suis toujours à la recherche de nouveaux défis pour améliorer mes compétences et contribuer à des projets innovants. N'hésitez pas à me contacter pour discuter de collaborations potentielles!</p>
    </div>

</div>
</main>    
<%- include('partials/footer'); -%>