<%- include('partials/header'); -%>
    <main class="flexContact">
        <div class="gridContact">
            <div class="gridCard">
            </div>
        </div>
    </main>
    <%- include('partials/footer'); -%>