<%- include('partials/header'); -%>
    <main>
        <div class="containerContact">
            <div class="cardContact">
                <h1>Mes contacts</h1>
                <p>Vous pouvez me contacter via les moyens suivants :</p>
                <div class="linkContact linkedin"><div class="stacks stack5" style="width: 40px; height: 40px;"><a href="https://www.linkedin.com/in/andy-christophe-4641b6188/"><img src="/img/linkedin.png" style="width: 40px;" alt="logo linkedin"></a></div><p>Linkedin : Andy Christophe</p></div>
                <div class="linkContact email"><div class="stacks stack1" style="width: 40px; height: 40px;"><a href="mailto:andy.christ971@gmail.com"><img src="/img/contact-mail.png" style="width: 40px; filter: invert(1);" alt=""></a></div><p>Email : andy.christ971@gmail.com</p></div>

            </div>
        </div>

    </main>
    <%- include('partials/footer'); -%>