<%- include('partials/header'); -%>
<main>
  <div class="flexAccueil">
    <div class="gridAccueil">
      <div class="gridCard gridCard-box-1" style="grid-area: box-1">
        <div class="logoSocial">
          <a href="https://github.com/Andy-Christophe"
            ><img src="/img/github.png" alt=""
          /></a>
          <a href="https://www.linkedin.com/in/andy-christophe-4641b6188/"
            ><img src="/img/linkedin.png" alt=""
          /></a>
          <a href=""><img src="/img/Instagram_icon.png" alt="" /></a>
        </div>
      </div>
      <!-- <svg xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                      </filter>
                    </defs>
                  </svg>
      <!-- VOIR SI COMMENT LE METTRE DANS LE CSS -->
      <div class="gridCard gridCard-box-2" style="grid-area: box-2">
        <svg xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="goo">
              <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="10"
                result="blur"
              />
              <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
                result="goo"
              />
              <feBlend in="SourceGraphic" in2="goo" />
            </filter>
          </defs>
        </svg>
        <h1>FRONT-END <span>DEVELOPER</span></h1>
        <div class="circle-container">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
          <div class="circle5"></div>
        </div>
      </div>
      <div class="gridCard gridCard-box-3" style="grid-area: box-3">
        <div class="gridCard cardStacks" style="grid-area: box-3">
          <p>stacks</p>
        </div>
      </div>
      <div class="gridCard gridCard-box-4" style="grid-area: box-4">
        <p>project</p>
      </div>
      <div class="gridCard gridCard-box-5" style="grid-area: box-5">
        <p>minijeu</p>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer'); -%>
