<%- include('partials/header'); -%>
  <main>
    <div class="popup" id="popup">
      <p>Ce portfolio est en cours de travaux </p>
      <img class="popupImg" src="/img/3967195.png" alt="">
    </div>
    <div class="flexAccueil">
      <div class="gridAccueil">
        <div class="gridCard gridCard-box-1" style="grid-area: box-1">
          <div class="logoSocial">
            <a href="https://github.com/Andy-Christophe"><img src="/img/github.png" alt="" /></a>
            <a href="https://www.linkedin.com/in/andy-christophe-4641b6188/"><img src="/img/linkedin.png" alt="" /></a>
            <a href="https://www.youtube.com/@Andy-Christophe"><img src="/img/youtube1.png" alt="" /></a>
          </div>
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
        </defs>
      </svg>
      <!-- VOIR SI COMMENT LE METTRE DANS LE CSS -->
        <div class="gridCard gridCard-box-2" style="grid-area: box-2" id="about">
          <svg class="svgblur" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
                  result="goo" />
                <feBlend in="SourceGraphic" in2="goo" />
              </filter>
            </defs>
          </svg>
          <div class="fondPicture">
            <img src="/img/pp.png" alt="" class="profilPicture">
          </div>
          <div class="allTitle">

            <h1 class="titleMain">FULL-STACK <span>DEVELOPER</span></h1>
            <p>Salut moi c'est Andy, je suis Full-Stack développeur basé à Paris, actuellement en formation
              Développement web et accessibilité et en recherche de stage.</p>
          </div>
          <div class="circle-container">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
            <div class="circle5"></div>
          </div>
          <div>
            <a href="mailto:andy.christ971@gmail.com" class="boutonContact">Contactez moi !</a>
          </div>
        </div>
        <div class="gridCard gridCard-box-3" style="grid-area: box-3" id="allStack" onclick="toggleClass()">
          <script>

            function toggleClass() {
              const back = document.querySelector('#backend');
              const front = document.querySelector('#frontend');
              const autreStack = document.querySelector('#autreStack')
              const container = document.querySelector('#allStack');



              function touch() {
                container.style.transform = 'scale(0.9)';
                container.style.transition = '0.2s';
              }
              function touchEnd() {
                container.style.transform = 'scale(1)';
                container.style.transition = '0.2s';
              }
              container.addEventListener('touchstart', touch)
              container.addEventListener('touchend', touchEnd)


              // showStacks.classList.toggle('show');

              if (!back.classList.contains('show') && front.classList.contains('show') && !autreStack.classList.contains('show')) {
                back.classList.remove('hide');
                back.classList.add('show');
                front.classList.remove('show');
                front.classList.add('hide');

              }
              else if (back.classList.contains('show') && !front.classList.contains('show') && !autreStack.classList.contains('show')) {
                back.classList.remove('show');
                back.classList.add('hide');
                autreStack.classList.remove('hide');
                autreStack.classList.add('show');


              }
              else if (!back.classList.contains('show') && !front.classList.contains('show') && autreStack.classList.contains('show')) {
                autreStack.classList.remove('show');
                autreStack.classList.add('hide');
                front.classList.remove('hide');
                front.classList.add('show');

              }



            }




            function changeProject() {

              const containerCardPreview = document.querySelector('#containerCardPreview');
              const project1 = document.querySelector('#previewProject1');
              const project2 = document.querySelector('#previewProject2');
              const project3 = document.querySelector('#previewProject3');




              function touchProject() {
                containerCardPreview.style.transform = 'scale(0.9)';
                containerCardPreview.style.transition = '0.2s';
              }
              function touchEndProject() {
                containerCardPreview.style.transform = 'scale(1)';
                containerCardPreview.style.transition = '0.2s';
              }
              containerCardPreview.addEventListener('touchstart', touchProject)
              containerCardPreview.addEventListener('touchend', touchEndProject)


              // showStacks.classList.toggle('show');

              if (!project2.classList.contains('show') && project1.classList.contains('show') && !project3.classList.contains('show')) {
                project2.classList.remove('hide');
                project2.classList.add('show');
                project1.classList.remove('show');
                project1.classList.add('hide');

              }
              else if (project2.classList.contains('show') && !project1.classList.contains('show') && !project3.classList.contains('show')) {
                project2.classList.remove('show');
                project2.classList.add('hide');
                project3.classList.remove('hide');
                project3.classList.add('show');


              }
              else if (!project2.classList.contains('show') && !project1.classList.contains('show') && project3.classList.contains('show')) {
                project3.classList.remove('show');
                project3.classList.add('hide');
                project1.classList.remove('hide');
                project1.classList.add('show');

              }



            }

          </script>


          <!-- <h2 class="titleStack" id="titleStack">Stack</h2> -->
          <!-- ajout mais je sais plus de quoi  -->


          <div class="frontback show" id="frontend">
            <h3>Front-End</h3>
            <div class="stacks stack1"><svg xmlns="http://www.w3.org/2000/svg" aria-label="JavaScript" role="img"
                viewBox="0 0 512 512">
                <rect width="512" height="512" rx="15%" fill="#f7df1e" />
                <title>JavaScript</title>
                <path
                  d="M324 370c10 17 24 29 47 29c20 0 33-10 33 -24c0-16 -13 -22 -35 -32l-12-5c-35-15 -58 -33 -58 -72c0-36 27 -64 70 -64c31 0 53 11 68 39l-37 24c-8-15 -17 -21 -31 -21c-14 0-23 9 -23 21c0 14 9 20 30 29l12 5c41 18 64 35 64 76c0 43-34 67 -80 67c-45 0-74 -21 -88 -49zm-170 4c8 13 14 25 31 25c16 0 26-6 26 -30V203h48v164c0 50-29 72 -72 72c-39 0-61 -20 -72 -44z" />
              </svg></div>
            <div class="stacks stack2"><svg width="800px" height="800px" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <title>React</title>
                <path
                  d="M18.6789 15.9759C18.6789 14.5415 17.4796 13.3785 16 13.3785C14.5206 13.3785 13.3211 14.5415 13.3211 15.9759C13.3211 17.4105 14.5206 18.5734 16 18.5734C17.4796 18.5734 18.6789 17.4105 18.6789 15.9759Z"
                  fill="#53C1DE" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M24.7004 11.1537C25.2661 8.92478 25.9772 4.79148 23.4704 3.39016C20.9753 1.99495 17.7284 4.66843 16.0139 6.27318C14.3044 4.68442 10.9663 2.02237 8.46163 3.42814C5.96751 4.82803 6.73664 8.8928 7.3149 11.1357C4.98831 11.7764 1 13.1564 1 15.9759C1 18.7874 4.98416 20.2888 7.29698 20.9289C6.71658 23.1842 5.98596 27.1909 8.48327 28.5877C10.9973 29.9932 14.325 27.3945 16.0554 25.7722C17.7809 27.3864 20.9966 30.0021 23.4922 28.6014C25.9956 27.1963 25.3436 23.1184 24.7653 20.8625C27.0073 20.221 31 18.7523 31 15.9759C31 13.1835 26.9903 11.7923 24.7004 11.1537ZM24.4162 19.667C24.0365 18.5016 23.524 17.2623 22.8971 15.9821C23.4955 14.7321 23.9881 13.5088 24.3572 12.3509C26.0359 12.8228 29.7185 13.9013 29.7185 15.9759C29.7185 18.07 26.1846 19.1587 24.4162 19.667ZM22.85 27.526C20.988 28.571 18.2221 26.0696 16.9478 24.8809C17.7932 23.9844 18.638 22.9422 19.4625 21.7849C20.9129 21.6602 22.283 21.4562 23.5256 21.1777C23.9326 22.7734 24.7202 26.4763 22.85 27.526ZM9.12362 27.5111C7.26143 26.47 8.11258 22.8946 8.53957 21.2333C9.76834 21.4969 11.1286 21.6865 12.5824 21.8008C13.4123 22.9332 14.2816 23.9741 15.1576 24.8857C14.0753 25.9008 10.9945 28.557 9.12362 27.5111ZM2.28149 15.9759C2.28149 13.874 5.94207 12.8033 7.65904 12.3326C8.03451 13.5165 8.52695 14.7544 9.12123 16.0062C8.51925 17.2766 8.01977 18.5341 7.64085 19.732C6.00369 19.2776 2.28149 18.0791 2.28149 15.9759ZM9.1037 4.50354C10.9735 3.45416 13.8747 6.00983 15.1159 7.16013C14.2444 8.06754 13.3831 9.1006 12.5603 10.2265C11.1494 10.3533 9.79875 10.5569 8.55709 10.8297C8.09125 9.02071 7.23592 5.55179 9.1037 4.50354ZM20.3793 11.5771C21.3365 11.6942 22.2536 11.85 23.1147 12.0406C22.8562 12.844 22.534 13.6841 22.1545 14.5453C21.6044 13.5333 21.0139 12.5416 20.3793 11.5771ZM16.0143 8.0481C16.6054 8.66897 17.1974 9.3623 17.7798 10.1145C16.5985 10.0603 15.4153 10.0601 14.234 10.1137C14.8169 9.36848 15.414 8.67618 16.0143 8.0481ZM9.8565 14.5444C9.48329 13.6862 9.16398 12.8424 8.90322 12.0275C9.75918 11.8418 10.672 11.69 11.623 11.5748C10.9866 12.5372 10.3971 13.5285 9.8565 14.5444ZM11.6503 20.4657C10.6679 20.3594 9.74126 20.2153 8.88556 20.0347C9.15044 19.2055 9.47678 18.3435 9.85796 17.4668C10.406 18.4933 11.0045 19.4942 11.6503 20.4657ZM16.0498 23.9915C15.4424 23.356 14.8365 22.6531 14.2448 21.8971C15.4328 21.9423 16.6231 21.9424 17.811 21.891C17.2268 22.6608 16.6369 23.3647 16.0498 23.9915ZM22.1667 17.4222C22.5677 18.3084 22.9057 19.1657 23.1742 19.9809C22.3043 20.1734 21.3652 20.3284 20.3757 20.4435C21.015 19.4607 21.6149 18.4536 22.1667 17.4222ZM18.7473 20.5941C16.9301 20.72 15.1016 20.7186 13.2838 20.6044C12.2509 19.1415 11.3314 17.603 10.5377 16.0058C11.3276 14.4119 12.2404 12.8764 13.2684 11.4158C15.0875 11.2825 16.9178 11.2821 18.7369 11.4166C19.7561 12.8771 20.6675 14.4086 21.4757 15.9881C20.6771 17.5812 19.7595 19.1198 18.7473 20.5941ZM22.8303 4.4666C24.7006 5.51254 23.8681 9.22726 23.4595 10.8426C22.2149 10.5641 20.8633 10.3569 19.4483 10.2281C18.6239 9.09004 17.7698 8.05518 16.9124 7.15949C18.1695 5.98441 20.9781 3.43089 22.8303 4.4666Z"
                  fill="#53C1DE" />
              </svg></div>
            <div class="stacks stack3"><svg width="800px" height="800px" viewBox="0 -32 256 256" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMidYMid">
                <g fill="#CD6799">
                  <title>SASS</title>
                  <path
                    d="M220.281239,110.513661 C211.374863,110.560291 203.634244,112.705282 197.152641,115.876138 C194.774499,111.166485 192.396357,106.969763 191.976685,103.892168 C191.510383,100.301639 190.95082,98.1100182 191.510383,93.8200364 C192.069945,89.5300546 194.587978,83.4214936 194.541348,82.9551913 C194.494718,82.4888889 193.981785,80.2972678 188.852459,80.2506375 C183.723133,80.2040073 179.29326,81.2298725 178.780328,82.5821494 C178.267395,83.9344262 177.28816,87.0120219 176.635337,90.182878 C175.749362,94.8459016 166.376685,111.492896 161.014208,120.21275 C159.288889,116.808743 157.796721,113.824408 157.47031,111.446266 C157.004007,107.855738 156.444444,105.664117 157.004007,101.374135 C157.56357,97.084153 160.081603,90.975592 160.034973,90.5092896 C159.988342,90.0429872 159.47541,87.8513661 154.346084,87.8047359 C149.216758,87.7581056 144.786885,88.7839709 144.273953,90.1362477 C143.76102,91.4885246 143.201457,94.6593807 142.128962,97.7369763 C141.056466,100.814572 128.606193,128.606193 125.342077,135.78725 C123.663388,139.471038 122.217851,142.408743 121.191985,144.413843 L121.191985,144.413843 C121.191985,144.413843 121.145355,144.553734 121.005464,144.786885 C120.11949,146.512204 119.606557,147.444809 119.606557,147.444809 C119.606557,147.444809 119.606557,147.444809 119.606557,147.491439 C118.907104,148.750455 118.16102,149.916211 117.787978,149.916211 C117.508197,149.916211 116.995264,146.558834 117.881239,141.989071 C119.746448,132.336612 124.176321,117.321676 124.12969,116.808743 C124.12969,116.528962 124.969035,113.917668 121.238616,112.565392 C117.601457,111.213115 116.295811,113.451366 115.969399,113.451366 C115.642987,113.451366 115.409836,114.24408 115.409836,114.24408 C115.409836,114.24408 119.466667,97.3639344 107.669217,97.3639344 C100.301639,97.3639344 90.1362477,105.430965 85.1001821,112.705282 C81.929326,114.430601 75.1679417,118.11439 67.940255,122.07796 C65.189071,123.616758 62.3446266,125.155556 59.6867031,126.601093 C59.5001821,126.414572 59.3136612,126.181421 59.1271403,125.9949 C44.8582878,110.746812 18.4655738,99.9752277 19.5846995,79.5045537 C20.0043716,72.0437158 22.5690346,52.4590164 70.2717668,28.6775956 C109.534426,9.32604736 140.776685,14.6885246 146.185792,26.579235 C153.926412,43.5526412 129.445537,75.0746812 88.8772313,79.6444444 C73.3959927,81.3697632 65.2823315,75.4010929 63.2306011,73.1628415 C61.0856102,70.8313297 60.7591985,70.691439 59.9664845,71.1577413 C58.6608379,71.8571949 59.5001821,73.9555556 59.9664845,75.1679417 C61.1788707,78.3387978 66.168306,83.9344262 74.6083789,86.6856102 C82.0692168,89.1103825 100.208379,90.4626594 122.17122,81.9759563 C146.745355,72.463388 165.957013,46.0240437 160.314754,23.8746812 C154.672495,1.3989071 117.368306,-6.01530055 82.0692168,6.52823315 C61.0856102,13.989071 38.3300546,25.7398907 21.9628415,41.0346084 C2.51803279,59.2204007 -0.559562842,75.028051 0.699453552,81.6495446 C5.22258652,105.151184 37.6306011,120.445902 50.5938069,131.777049 C49.9409836,132.150091 49.3347905,132.476503 48.8218579,132.756284 C42.340255,135.97377 17.6262295,148.890346 11.4710383,162.553005 C4.47650273,178.034244 12.5901639,189.13224 17.9526412,190.624408 C34.5996357,195.240801 51.7129326,186.940619 60.8990893,173.23133 C70.0852459,159.52204 68.9661202,141.70929 64.7227687,133.548998 C64.6761384,133.455738 64.6295082,133.362477 64.5362477,133.269217 C66.2149362,132.289982 67.940255,131.264117 69.6189435,130.284882 C72.9296903,128.326412 76.1938069,126.507832 78.9916211,125.015665 C77.4061931,129.352277 76.2404372,134.528233 75.6808743,141.989071 C74.9814208,150.755556 78.571949,162.133333 83.2816029,166.609836 C85.3799636,168.568306 87.8513661,168.614936 89.4367942,168.614936 C94.9391621,168.614936 97.4105647,164.045173 100.161749,158.636066 C103.519126,152.014572 106.550091,144.320583 106.550091,144.320583 C106.550091,144.320583 102.773042,165.117668 113.031694,165.117668 C116.762113,165.117668 120.539162,160.268124 122.217851,157.796721 L122.217851,157.843352 C122.217851,157.843352 122.311111,157.703461 122.497632,157.377049 C122.870674,156.770856 123.103825,156.397814 123.103825,156.397814 L123.103825,156.304554 C124.595993,153.69326 127.95337,147.77122 132.942805,137.93224 C139.377778,125.248816 145.579599,109.394536 145.579599,109.394536 C145.579599,109.394536 146.139162,113.264845 148.051002,119.699818 C149.170128,123.476867 151.501639,127.626958 153.366849,131.637158 C151.874681,133.735519 150.942077,134.901275 150.942077,134.901275 C150.942077,134.901275 150.942077,134.901275 150.988707,134.947905 C149.776321,136.533333 148.470674,138.258652 147.025137,139.937341 C141.942441,145.999271 135.88051,152.947177 135.041166,154.952277 C134.061931,157.330419 134.295082,159.055738 136.160291,160.454645 C137.512568,161.48051 139.937341,161.620401 142.408743,161.48051 C146.978506,161.154098 150.195993,160.034973 151.781421,159.335519 C154.252823,158.449545 157.143898,157.097268 159.848452,155.092168 C164.837887,151.408379 167.868852,146.139162 167.589071,139.191257 C167.44918,135.367577 166.190164,131.543898 164.651366,127.95337 C165.117668,127.300546 165.537341,126.647723 166.003643,125.9949 C173.884153,114.477231 179.992714,101.840437 179.992714,101.840437 C179.992714,101.840437 180.552277,105.710747 182.464117,112.145719 C183.396721,115.409836 185.308561,118.953734 186.98725,122.404372 C179.573042,128.419672 175.003279,135.414208 173.37122,139.983971 C170.433515,148.470674 172.718397,152.294353 177.055009,153.180328 C179.013479,153.6 181.811293,152.667395 183.863024,151.781421 C186.474317,150.942077 189.551913,149.496539 192.489617,147.351548 C197.479053,143.66776 202.281967,138.538434 202.002186,131.590528 C201.862295,128.419672 201.022951,125.295446 199.857195,122.264481 C206.152277,119.653188 214.265938,118.20765 224.617851,119.420036 C246.813843,122.03133 251.197086,135.88051 250.357741,141.70929 C249.518397,147.538069 244.855373,150.708925 243.316576,151.68816 C241.777778,152.667395 241.264845,152.993807 241.404736,153.69326 C241.591257,154.719126 242.337341,154.672495 243.642987,154.485974 C245.461566,154.159563 255.300546,149.776321 255.720219,139.051366 C256.419672,125.342077 243.363206,110.37377 220.281239,110.513661 L220.281239,110.513661 Z M49.0550091,168.241894 C41.6874317,176.262295 31.4287796,179.29326 26.9989071,176.728597 C22.242623,173.977413 24.1078324,162.133333 33.1540984,153.64663 C38.6564663,148.470674 45.7442623,143.66776 50.4539162,140.730055 C51.5264117,140.077231 53.1118397,139.144627 55.0236794,137.978871 C55.3500911,137.79235 55.536612,137.699089 55.536612,137.699089 L55.536612,137.699089 C55.9096539,137.465938 56.2826958,137.232787 56.6557377,136.999636 C59.9664845,149.123497 56.7956284,159.801821 49.0550091,168.241894 L49.0550091,168.241894 Z M102.679781,131.777049 C100.115118,138.025501 94.7526412,154.019672 91.4885246,153.133698 C88.6907104,152.387614 86.9653916,140.263752 90.9289617,128.279781 C92.9340619,122.264481 97.1774135,115.083424 99.648816,112.28561 C103.659016,107.809107 108.088889,106.31694 109.161384,108.135519 C110.513661,110.513661 104.265209,127.860109 102.679781,131.777049 L102.679781,131.777049 Z M146.931876,152.947177 C145.859381,153.50674 144.833515,153.879781 144.367213,153.6 C144.040801,153.413479 144.833515,152.667395 144.833515,152.667395 C144.833515,152.667395 150.382514,146.698725 152.574135,143.994171 C153.833151,142.408743 155.325319,140.543534 156.910747,138.445173 L156.910747,139.051366 C156.910747,146.185792 150.009472,150.988707 146.931876,152.947177 L146.931876,152.947177 Z M181.065209,145.159927 C180.272495,144.600364 180.412386,142.735155 183.07031,136.906375 C184.096175,134.621494 186.520947,130.797814 190.671038,127.114026 C191.137341,128.606193 191.463752,130.05173 191.417122,131.404007 C191.370492,140.403643 184.935519,143.76102 181.065209,145.159927 L181.065209,145.159927 Z">

                  </path>
                </g>
              </svg></div>
            <div class="stacks stack4"><svg width="800px" height="800px" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <title>HTML</title>
                <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26" />
                <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529" />
                <path
                  d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
                  fill="white" />
              </svg></div>

            <div class="stacks stack5">
              <svg width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none">
                <title>Vite</title>
                <path
                  d="M29.8836 6.146L16.7418 29.6457c-.2714.4851-.9684.488-1.2439.0052L2.0956 6.1482c-.3-.5262.1498-1.1635.746-1.057l13.156 2.3516a.7144.7144 0 00.2537-.0004l12.8808-2.3478c.5942-.1083 1.0463.5241.7515 1.0513z"
                  fill="url(#paint0_linear)" />
                <path
                  d="M22.2644 2.0069l-9.7253 1.9056a.3571.3571 0 00-.2879.3294l-.5982 10.1038c-.014.238.2045.4227.4367.3691l2.7077-.6248c.2534-.0585.4823.1647.4302.4194l-.8044 3.9393c-.0542.265.1947.4918.4536.4132l1.6724-.5082c.2593-.0787.5084.1487.4536.414l-1.2784 6.1877c-.08.387.4348.598.6495.2662L16.5173 25 24.442 9.1848c.1327-.2648-.096-.5667-.387-.5106l-2.787.5379c-.262.0505-.4848-.1934-.4109-.4497l1.8191-6.306c.074-.2568-.1496-.5009-.4118-.4495z"
                  fill="url(#paint1_linear)" />
                <defs id="defs50">
                  <linearGradient id="paint0_linear" x1="6.0002" y1="32.9999" x2="235" y2="344"
                    gradientUnits="userSpaceOnUse" gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)">
                    <stop stop-color="#41D1FF" id="stop38" />
                    <stop offset="1" stop-color="#BD34FE" id="stop40" />
                  </linearGradient>
                  <linearGradient id="paint1_linear" x1="194.651" y1="8.8182" x2="236.076" y2="292.989"
                    gradientUnits="userSpaceOnUse" gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)">
                    <stop stop-color="#FFEA83" id="stop43" />
                    <stop offset=".0833" stop-color="#FFDD35" id="stop45" />
                    <stop offset="1" stop-color="#FFA800" id="stop47" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <div class=" stacks stack1">
              <svg width="800px" height="800px" viewBox="0 0 73 73" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">

                <title>Parcel</title>
                <desc>Created with Sketch.</desc>
                <defs>

                </defs>
                <g id="build-tools/parcel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="container" transform="translate(2.000000, 2.000000)" fill="#FFFFFF" fill-rule="nonzero"
                    stroke="#2D1C05" stroke-width="2">
                    <rect id="mask" x="-1" y="-1" width="71" height="71" rx="14">

                    </rect>
                  </g>
                  <g id="package" transform="translate(11.000000, 14.000000)" fill-rule="nonzero">
                    <polygon id="Shape" fill="#D38C0D"
                      points="33.4790323 20.1943548 50.9177419 10.0766129 33.4790323 0.0411290323 16.1225806 10.241129">

                    </polygon>
                    <g id="Group" fill="#EFBB67">
                      <polygon id="Shape"
                        points="17.5209677 20.1943548 34.7951613 10.158871 17.5209677 0.0411290323 0 10.158871">

                      </polygon>
                      <polygon id="Shape"
                        points="42.7741935 35.0008065 25.5 45.1185484 8.22580645 35.0008065 8.22580645 14.8475806 25.5 4.72983871 42.7741935 14.8475806">

                      </polygon>
                    </g>
                    <polyline id="Shape" fill="#D38C0D"
                      points="25.5 4.72983871 42.7741935 14.8475806 42.7741935 35.0008065 25.5 45.1185484">

                    </polyline>
                    <polygon id="Shape" fill="#EFBB67"
                      points="33.5612903 29.4895161 50.9177419 19.5362903 33.4790323 9.41854839 16.0403226 19.5362903">

                    </polygon>
                    <polygon id="Shape" fill="#D38C0D"
                      points="17.5209677 29.6540323 34.8774194 19.4540323 17.5209677 9.41854839 0 19.5362903">

                    </polygon>
                    <polygon id="Shape" fill="#704A0E"
                      points="25.5822581 24.9653226 42.7741935 14.8475806 25.5822581 4.72983871 8.06129032 14.8475806">

                    </polygon>
                    <polyline id="Shape" fill="#513307"
                      points="25.5822581 24.9653226 42.7741935 14.8475806 25.5822581 4.72983871">

                    </polyline>
                    <polygon id="Shape" fill="#2D1C05"
                      points="25.5822581 24.9653226 29.283871 22.7443548 25.5822581 20.6056452 21.8806452 22.7443548">

                    </polygon>
                    <g id="Group" transform="translate(37.838710, 27.556452)" fill="#0DD396">
                      <polygon id="Shape"
                        points="0 8.59596774 4.11290323 6.21048387 4.11290323 4.89435484 0 7.27983871">

                      </polygon>
                      <polygon id="Shape" points="0 6.21048387 4.11290323 3.825 4.11290323 2.50887097 0 4.89435484">

                      </polygon>
                      <polygon id="Shape" points="0 3.825 4.11290323 1.43951613 4.11290323 0.0411290323 0 2.50887097">

                      </polygon>
                    </g>
                  </g>
                </g>
              </svg>

            </div>
          </div>

          <div class="frontback hide" id="backend">
            <h3>Back-End</h3>
            <div class="stacks stack6"><svg width="800px" height="800px" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <title>NodeJS</title>
                <path
                  d="M17.1725 2.29872C16.4627 1.89953 15.5373 1.90132 14.8269 2.29872C11.2689 4.26227 7.71082 6.22641 4.15216 8.18906C3.45969 8.55335 2.99264 9.29698 3.00009 10.0688V21.9328C2.99509 22.7197 3.48622 23.4705 4.19655 23.8298C5.21871 24.3736 6.2118 24.9726 7.25244 25.4802C8.45451 26.0709 9.95843 26.2015 11.1752 25.5855C12.1629 25.075 12.6016 23.9395 12.6003 22.896C12.6083 18.9806 12.6016 15.0651 12.6034 11.1496C12.6269 10.9756 12.4962 10.7896 12.3064 10.7938C11.8517 10.7866 11.3964 10.7896 10.9417 10.7926C10.7699 10.7764 10.6022 10.9191 10.6152 11.0918C10.6091 14.982 10.6164 18.8734 10.6115 22.7642C10.6214 23.3024 10.2578 23.8196 9.73913 24.0014C8.5412 24.4213 5.12198 22.2012 5.12198 22.2012C4.9965 22.1431 4.91682 22.007 4.92912 21.8718C4.92912 17.9576 4.92973 14.0433 4.92912 10.1297C4.91187 9.97191 5.00912 9.8298 5.15402 9.76538C8.70033 7.8134 12.2448 5.85654 15.7911 3.90336C15.9143 3.82115 16.086 3.8214 16.2089 3.90396C19.7552 5.85654 23.3003 7.81161 26.8472 9.76368C26.9926 9.828 27.0857 9.9725 27.0709 10.1297C27.0703 14.0433 27.0721 17.9576 27.0697 21.8713C27.0802 22.0098 27.0086 22.144 26.8793 22.2048C23.3661 24.1462 19.8129 26.025 16.3315 28.0228C16.1796 28.1099 16.0075 28.2086 15.8373 28.1126C14.9218 27.6062 14.0174 27.0801 13.1049 26.5688C13.0057 26.5069 12.8794 26.4803 12.7759 26.5496C12.3668 26.7652 11.982 26.9398 11.5122 27.1258C10.8524 27.387 10.9578 27.4938 11.5529 27.8405C12.62 28.4444 13.6889 29.0459 14.756 29.6504C15.4585 30.0888 16.4024 30.12 17.1275 29.7149C20.6861 27.7538 24.2436 25.7904 27.8029 23.8293C28.5113 23.468 29.0049 22.7202 28.9999 21.9327V10.0688C29.0068 9.31264 28.5576 8.58227 27.886 8.21259C24.3156 6.23947 20.7435 4.27064 17.1725 2.29872Z"
                  fill="#8CC84B" />
                <path
                  d="M22.5419 11.2062C21.1452 10.459 19.4836 10.4192 17.9315 10.5169C16.8102 10.6277 15.6309 10.9371 14.814 11.7409C13.9761 12.5489 13.7937 13.8537 14.1917 14.9085C14.4769 15.6539 15.1948 16.1386 15.9372 16.395C16.8935 16.7326 17.8979 16.837 18.9026 16.9414C19.819 17.0366 20.7357 17.1319 21.6165 17.4042C21.9763 17.5234 22.3953 17.7058 22.5055 18.0973C22.6073 18.5609 22.4957 19.0998 22.1193 19.4219C20.9237 20.3682 17.5979 20.2232 16.4166 19.4784C15.939 19.1611 15.7332 18.5994 15.6495 18.0641C15.6402 17.8973 15.5059 17.7443 15.3248 17.757C14.8713 17.7516 14.4178 17.7528 13.9643 17.7564C13.8061 17.7431 13.6416 17.8557 13.6329 18.0172C13.5397 20.4689 15.7914 21.5377 17.9039 21.773C19.1108 21.888 20.3442 21.8814 21.5327 21.6224C22.4261 21.419 23.3219 21.0444 23.9369 20.3563C24.6953 19.52 24.8444 18.2749 24.5043 17.2332C24.2443 16.4559 23.5012 15.9573 22.7416 15.7008C21.7086 15.3466 20.4844 15.1562 19.5488 15.0671C18.1889 14.9376 16.5729 14.9905 16.188 14.0969C16.0345 13.629 16.1651 13.048 16.5951 12.7602C17.7328 11.9885 20.0483 12.091 21.2265 12.6675C21.7675 12.9384 22.081 13.4948 22.2104 14.0565C22.2344 14.2215 22.3454 14.3937 22.5364 14.3865C22.9868 14.3955 23.4372 14.3889 23.8875 14.3895C24.0422 14.4003 24.2116 14.313 24.2418 14.1546C24.2227 12.9806 23.6232 11.7788 22.5419 11.2062Z"
                  fill="#8CC84B" />
              </svg></div>
            <div class="stacks stack7"><svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" role="img"
                xmlns="http://www.w3.org/2000/svg">
                <title>Express</title>
                <path
                  d="M24 18.588a1.529 1.529 0 0 1-1.895-.72l-3.45-4.771-.5-.667-4.003 5.444a1.466 1.466 0 0 1-1.802.708l5.158-6.92-4.798-6.251a1.595 1.595 0 0 1 1.9.666l3.576 4.83 3.596-4.81a1.435 1.435 0 0 1 1.788-.668L21.708 7.9l-2.522 3.283a.666.666 0 0 0 0 .994l4.804 6.412zM.002 11.576l.42-2.075c1.154-4.103 5.858-5.81 9.094-3.27 1.895 1.489 2.368 3.597 2.275 5.973H1.116C.943 16.447 4.005 19.009 7.92 17.7a4.078 4.078 0 0 0 2.582-2.876c.207-.666.548-.78 1.174-.588a5.417 5.417 0 0 1-2.589 3.957 6.272 6.272 0 0 1-7.306-.933 6.575 6.575 0 0 1-1.64-3.858c0-.235-.08-.455-.134-.666A88.33 88.33 0 0 1 0 11.577zm1.127-.286h9.654c-.06-3.076-2.001-5.258-4.59-5.278-2.882-.04-4.944 2.094-5.071 5.264z" />
              </svg></div>
            <div class="stacks stack8"><svg width="800px" height="800px" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <linearGradient id="a" x1="-645.732" y1="839.188" x2="-654.59" y2="839.25"
                    gradientTransform="matrix(-0.977, -0.323, -0.29, 0.877, -375.944, -928.287)"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0.231" stop-color="#999875" />
                    <stop offset="0.563" stop-color="#9b9977" />
                    <stop offset="0.683" stop-color="#a09f7e" />
                    <stop offset="0.768" stop-color="#a9a889" />
                    <stop offset="0.837" stop-color="#b7b69a" />
                    <stop offset="0.896" stop-color="#c9c7b0" />
                    <stop offset="0.948" stop-color="#deddcb" />
                    <stop offset="0.994" stop-color="#f8f6eb" />
                    <stop offset="1" stop-color="#fbf9ef" />
                  </linearGradient>
                  <linearGradient id="b" x1="-644.287" y1="823.405" x2="-657.028" y2="845.476"
                    gradientTransform="matrix(-0.977, -0.323, -0.29, 0.877, -375.944, -928.287)"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#48a547" />
                    <stop offset="1" stop-color="#3f9143" />
                  </linearGradient>
                  <linearGradient id="c" x1="-643.386" y1="839.485" x2="-652.418" y2="833.417"
                    gradientTransform="matrix(-0.977, -0.323, -0.29, 0.877, -375.944, -928.287)"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#41a247" />
                    <stop offset="0.352" stop-color="#4ba74b" />
                    <stop offset="0.956" stop-color="#67b554" />
                    <stop offset="1" stop-color="#69b655" />
                  </linearGradient>
                </defs>
                <title>MongoDB</title>
                <path
                  d="M16.62,30l-.751-.249s.1-3.8-1.275-4.067c-.9-1.048.133-44.741,3.423-.149a2.712,2.712,0,0,0-1.333,1.523A14.1,14.1,0,0,0,16.62,30Z"
                  style="fill:url(#a)" />
                <path
                  d="M17.026,26.329a13.223,13.223,0,0,0,5-13.225C20.556,6.619,17.075,4.487,16.7,3.673a9.792,9.792,0,0,1-.825-1.6l.277,18.069S15.578,25.664,17.026,26.329Z"
                  style="fill:url(#b)" />
                <path
                  d="M15.487,26.569S9.366,22.4,9.72,15.025A15.54,15.54,0,0,1,15.239,3.377,1.725,1.725,0,0,0,15.846,2c.381.82.319,12.243.359,13.579C16.36,20.776,15.916,25.588,15.487,26.569Z"
                  style="fill:url(#c)" />
              </svg></div>
            <div class="stacks stack9"><svg width="800px" height="800px" viewBox="-4 0 264 264" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMidYMid">
                <g>
                  <title>Postgresql</title>
                  <path
                    d="M255.007926,158.085617 C253.473109,153.437413 249.452194,150.199279 244.251788,149.42182 C241.799982,149.055852 238.991667,149.211935 235.668988,149.897164 C229.877358,151.092028 225.580342,151.546679 222.44449,151.635363 C234.280794,131.650217 243.905921,108.859714 249.446873,87.4065589 C258.406282,52.7182633 253.61855,36.9154365 248.023797,29.7669469 C233.217182,10.8477783 211.614448,0.683454965 185.55152,0.371879908 C171.649478,0.202198614 159.443658,2.94725173 153.077358,4.92075751 C147.149155,3.87547344 140.774577,3.29134411 134.08606,3.18315012 C121.550337,2.9833164 110.473164,5.71595381 101.008259,11.332582 C95.7670577,9.56127483 87.3580785,7.06335335 77.6460416,5.46882217 C54.8035104,1.71868822 36.3939769,4.64110855 22.9282587,14.153903 C6.62230023,25.6721293 -0.937090069,45.6838799 0.461154734,73.6339954 C0.904572748,82.5082679 5.86908083,109.507695 13.6850624,135.114199 C18.1771824,149.831538 22.9672794,162.053912 27.9223279,171.443732 C34.9490254,184.758688 42.4676212,192.600092 50.9085266,195.415501 C55.6400924,196.992296 64.2358984,198.09552 73.2774873,190.566873 C74.4232794,191.953885 75.9515935,193.33321 77.9812656,194.613801 C80.5578199,196.239076 83.7090439,197.566965 86.8555381,198.353885 C98.1969885,201.189395 108.820102,200.479926 117.882975,196.506309 C117.93855,198.117986 117.981709,199.658125 118.018365,200.987788 C118.07867,203.145164 118.137792,205.259972 118.217016,207.237617 C118.753848,220.612286 119.663741,231.011326 122.359723,238.286928 C122.507529,238.687778 122.706771,239.29733 122.917247,239.943538 C124.261691,244.062005 126.511298,250.955677 132.232573,256.355326 C138.158411,261.947714 145.325229,263.663446 151.888998,263.662855 C155.180933,263.662855 158.322106,263.231261 161.076619,262.640628 C170.897441,260.536462 182.050291,257.329663 190.118134,245.84218 C197.745515,234.981986 201.453672,218.625182 202.124711,192.851363 C202.211621,192.122975 202.292028,191.427104 202.369478,190.763751 C202.421506,190.316194 202.474716,189.858587 202.528517,189.402162 L204.325838,189.560018 L204.788767,189.591353 C214.791095,190.047187 227.021155,187.925875 234.532065,184.437062 C240.467363,181.68255 259.485857,171.642383 255.007926,158.085617"
                    fill="#000000">

                  </path>
                  <path
                    d="M237.905589,160.722476 C208.165838,166.857016 206.121386,156.78788 206.121386,156.78788 C237.521885,110.194697 250.64824,51.0516028 239.320388,36.5766651 C208.417109,-2.90823095 154.921977,15.7655797 154.029229,16.2503834 L153.741894,16.3018199 C147.866309,15.0821247 141.290716,14.3555104 133.900416,14.2349007 C120.443566,14.0143741 110.236083,17.7627344 102.490457,23.636545 C102.490457,23.636545 7.06039723,-15.6768961 11.4987159,73.0806097 C12.4429007,91.9631224 38.5625866,215.954032 69.7171363,178.502947 C81.1041109,164.808425 92.1061986,153.229303 92.1061986,153.229303 C97.5708822,156.859418 104.112776,158.711132 110.970975,158.046005 L111.503667,157.593718 C111.338125,159.294079 111.413801,160.957192 111.717099,162.925968 C103.691233,171.893062 106.049626,173.467492 90.0055797,176.770069 C73.7711594,180.115806 83.308194,186.072388 89.5349654,187.629081 C97.0837136,189.516859 114.54788,192.190965 126.34812,175.672166 L125.877506,177.556988 C129.022226,180.075603 131.230448,193.940397 130.860342,206.508637 C130.490236,219.077469 130.243104,227.706383 132.720924,234.446337 C135.198744,241.186291 137.668286,256.351187 158.759612,251.831871 C176.383409,248.055132 185.516046,238.268009 186.786587,221.94254 C187.688203,210.336222 189.728517,212.051954 189.857404,201.675381 L191.493912,196.762901 C193.381099,181.029838 191.793663,175.95418 202.651492,178.314938 L205.290125,178.546697 C213.2817,178.9103 223.741044,177.261376 229.879723,174.408129 C243.098309,168.273589 250.93794,158.031224 237.904406,160.722476 L237.905589,160.722476"
                    fill="#336791">

                  </path>
                  <path
                    d="M108.076342,81.5250624 C105.396915,81.152 102.969349,81.4972748 101.741376,82.426679 C101.050236,82.9499122 100.836804,83.5559169 100.779455,83.973321 C100.625145,85.0783187 101.399649,86.2997875 101.874993,86.9300323 C103.220619,88.7137552 105.18703,89.9399538 107.133339,90.2101432 C107.415353,90.249164 107.695594,90.2680831 107.974651,90.2680831 C111.220471,90.2680831 114.170679,87.7411917 114.430818,85.8758799 C114.755991,83.5399538 111.36473,81.9826697 108.076342,81.5250624"
                    fill="#FFFFFF">

                  </path>
                  <path
                    d="M196.860453,81.5989654 L196.859861,81.5989654 C196.604453,79.7679446 193.345626,79.2458938 190.253524,79.6757136 C187.166152,80.1061247 184.171603,81.4996397 184.421691,83.3347991 C184.622707,84.7620139 187.19867,87.198448 190.249386,87.1978568 C190.506568,87.1978568 190.766707,87.1807113 191.028619,87.1440554 C193.064794,86.8620416 194.558818,85.5690346 195.268286,84.8235012 C196.349635,83.688351 196.974559,82.4219492 196.860453,81.5989654"
                    fill="#FFFFFF">

                  </path>
                  <path
                    d="M247.802088,160.025423 C246.66812,156.596323 243.018494,155.492508 236.954309,156.745312 C218.949173,160.461155 212.501284,157.886965 210.38352,156.327908 C224.378975,135.007187 235.89188,109.236323 242.102688,85.1906513 C245.04521,73.8007206 246.670485,63.2231316 246.802919,54.601903 C246.949543,45.1375889 245.338457,38.1842032 242.014005,33.9362587 C228.611547,16.8108637 208.942115,7.62501617 185.131751,7.37256351 C168.763122,7.18869284 154.93321,11.3781062 152.252009,12.5558245 C146.60582,11.1516674 140.450587,10.2896628 133.750245,10.1796952 C121.461654,9.98104388 110.840314,12.9229746 102.045857,18.9191686 C98.2259584,17.4978661 88.3536998,14.10897 76.2814965,12.1644342 C55.4089238,8.80332564 38.8233164,11.3497275 26.9870115,19.7350577 C12.8638522,29.740933 6.34383372,47.626642 7.60727945,72.8943741 C8.03236952,81.3961755 12.8756767,107.547788 20.5202032,132.593219 C30.5822448,165.556915 41.5192979,184.218309 53.0280647,188.056536 C54.374873,188.505866 55.9286097,188.820397 57.6407945,188.820397 C61.8390762,188.820397 66.9856813,186.927889 72.3409885,180.490051 C81.2359538,169.788896 89.5408776,160.821801 92.6022356,157.563566 C97.1262818,159.992314 102.09552,161.347991 107.179455,161.483972 C107.188323,161.616998 107.201921,161.750023 107.213746,161.882457 C106.193885,163.092102 105.357303,164.152166 104.644286,165.05733 C101.122365,169.528166 100.389247,170.458753 89.0519353,172.793497 C85.8273995,173.458624 77.2611547,175.224018 77.1364065,181.227898 C76.9998337,187.787529 87.2605266,190.542633 88.4299677,190.834697 C92.5040924,191.854559 96.4286374,192.357691 100.171677,192.357691 C109.275344,192.357099 117.285838,189.365506 123.688203,183.576831 C123.490734,206.962697 124.466254,230.006836 127.273977,237.028212 C129.573247,242.775501 135.191649,256.822984 152.93842,256.821801 C155.54158,256.821801 158.408425,256.519095 161.561423,255.843326 C180.082106,251.872074 188.124527,243.686577 191.236139,225.640055 C192.901025,215.995418 195.758411,192.963695 197.101672,180.610069 C199.937774,181.49454 203.589173,181.899529 207.536185,181.898938 C215.768388,181.898938 225.266993,180.150097 231.224166,177.384942 C237.91564,174.277469 249.991982,166.650679 247.802088,160.025423 L247.802088,160.025423 Z M203.696185,76.5445912 C203.634697,80.1918522 203.132748,83.5027067 202.600647,86.9590023 C202.028342,90.6760277 201.435935,94.5189838 201.286947,99.1843326 C201.139732,103.724342 201.706716,108.444674 202.255372,113.008924 C203.363326,122.228471 204.500249,131.720573 200.098587,141.086744 C199.41454,139.871778 198.754143,138.546254 198.14873,137.078245 C197.601848,135.752129 196.414079,133.621949 194.769885,130.673515 C188.370476,119.197857 173.385312,92.3243603 181.056443,81.3583372 C183.340933,78.0935982 189.139658,74.7384018 203.696185,76.5445912 L203.696185,76.5445912 Z M186.052286,14.7581339 C207.386014,15.2293395 224.261321,23.2102725 236.209958,38.4780416 C245.373931,50.1890069 235.282919,103.476028 206.069949,149.446651 C205.781432,149.080092 205.487594,148.709986 205.183704,148.33042 C205.062503,148.178476 204.938938,148.024166 204.814189,147.868083 C212.362938,135.400942 210.886651,123.066236 209.572952,112.129774 C209.033164,107.641792 208.523529,103.402716 208.653007,99.4214134 C208.787215,95.2000739 209.34533,91.5811917 209.884527,88.0811455 C210.548471,83.7675751 211.223058,79.3050162 211.036822,74.0437136 C211.17576,73.4921016 211.231926,72.8399815 211.159206,72.0660693 C210.683861,67.0205635 204.924157,51.9224758 193.18363,38.2551501 C186.762346,30.7808961 177.396767,22.4156674 164.609774,16.7736166 C170.109931,15.6337367 177.631483,14.5707159 186.052286,14.7581339 L186.052286,14.7581339 Z M66.6741062,175.777995 C60.7742818,182.871501 56.6995658,181.512277 55.3598522,181.065903 C46.6292471,178.153533 36.499806,159.702023 27.568776,130.441755 C19.8408868,105.123769 15.3245266,79.6650716 14.9674273,72.5260416 C13.8387806,49.9483788 19.3117413,34.2129515 31.2349561,25.7572656 C50.6389284,11.9965266 82.5413764,20.2328684 95.3602956,24.4104573 C95.1758337,24.591963 94.9842771,24.7622356 94.8015889,24.9466975 C73.7664296,46.1911501 74.2654226,82.4875751 74.3168591,84.7058476 C74.3150855,85.56194 74.3866236,86.7739492 74.485358,88.4412009 C74.8471871,94.5455889 75.5205912,105.907732 73.7214965,118.775132 C72.0489238,130.732046 75.7346143,142.435326 83.8320185,150.883917 C84.6703741,151.758337 85.5453857,152.579547 86.4493672,153.352277 C82.8446744,157.212379 75.0115473,165.74788 66.6741062,175.777995 L66.6741062,175.777995 Z M89.1530346,145.78461 C82.6265127,138.975483 79.6627067,129.503483 81.020157,119.795584 C82.920351,106.202753 82.2185681,94.3646744 81.8419584,88.0048776 C81.7893395,87.1150855 81.7426328,86.335261 81.7148453,85.7197968 C84.7880277,82.9954365 99.0288406,75.3645081 109.184296,77.6915658 C113.819492,78.7534042 116.642587,81.9087667 117.816758,87.3373857 C123.893358,115.440037 118.621413,127.153367 114.385293,136.565654 C113.512055,138.504868 112.687298,140.337663 111.982559,142.234309 L111.436859,143.699954 C110.054577,147.406337 108.768665,150.851991 107.971695,154.124416 C101.034273,154.103132 94.2848591,151.139917 89.1530346,145.78461 L89.1530346,145.78461 Z M90.2178291,183.685025 C88.1922956,183.178938 86.3701432,182.299788 85.3012102,181.570808 C86.1939584,181.150448 87.7831686,180.579326 90.5388637,180.011751 C103.876286,177.265515 105.93552,175.328074 110.433552,169.61685 C111.465238,168.30788 112.634088,166.823316 114.252859,165.015353 C114.25345,165.014171 114.254042,165.01358 114.254633,165.012988 C116.666236,162.31346 117.768868,162.771067 119.768979,163.600554 C121.390115,164.271594 122.968684,166.303039 123.608979,168.539048 C123.911686,169.594975 124.252231,171.599815 123.138956,173.158873 C113.742633,186.31479 100.051067,186.1457 90.2178291,183.685025 L90.2178291,183.685025 Z M160.016554,248.637487 C143.700545,252.133395 137.923695,243.80837 134.116804,234.291436 C131.659677,228.146845 130.452397,200.440314 131.309081,169.84388 C131.320314,169.436527 131.262374,169.043363 131.150042,168.673848 C131.05249,167.96024 130.902319,167.238356 130.694208,166.511741 C129.419529,162.059824 126.315012,158.335704 122.5903,156.792018 C121.110467,156.178919 118.393792,155.05382 115.129644,155.888628 C115.826106,153.0206 117.033386,149.782467 118.341764,146.275326 L118.891012,144.79963 C119.509432,143.136517 120.284527,141.413691 121.105145,139.590356 C125.538143,129.741746 131.609423,116.25297 125.020231,85.7795104 C122.551871,74.3659307 114.310208,68.7924619 101.815871,70.0866513 C94.3250624,70.861746 87.472776,73.8840831 84.0549099,75.6169607 C83.3200185,75.9894319 82.6477968,76.3488961 82.0199169,76.6994919 C82.9735612,65.1990023 86.578254,43.707418 100.060527,30.1098568 C108.54873,21.548933 119.854115,17.3210901 133.628453,17.5487113 C160.768591,17.9933118 178.172453,31.9213672 187.994457,43.5276859 C196.457829,53.5294226 201.040998,63.6038799 202.870245,69.0372286 C189.115418,67.6389838 179.76048,70.3544758 175.017681,77.1340416 C164.700822,91.8815335 180.662097,120.506236 188.333229,134.262836 C189.739751,136.784406 190.954125,138.963067 191.336055,139.888924 C193.833977,145.943058 197.067972,149.984665 199.429321,152.935464 C200.152979,153.839446 200.855353,154.716231 201.389229,155.481866 C197.223464,156.683233 189.740342,159.457848 190.422023,173.328554 C189.872185,180.289035 185.960647,212.874938 183.974134,224.387843 C181.351464,239.597672 175.754346,245.263372 160.016554,248.637487 L160.016554,248.637487 Z M228.120831,170.700564 C223.861062,172.678208 216.732083,174.161589 209.959612,174.479667 C202.479446,174.830263 198.671963,173.641903 197.776259,172.91115 C197.355307,164.267455 200.573339,163.364065 203.978199,162.408055 C204.513256,162.257293 205.035307,162.111261 205.53903,161.935076 C205.852379,162.189894 206.195289,162.442938 206.570716,162.690661 C212.582873,166.658956 223.306494,167.087002 238.444785,163.962383 C238.50036,163.950559 238.555935,163.939917 238.610919,163.928684 C236.569423,165.837746 233.075289,168.400111 228.120831,170.700564 L228.120831,170.700564 Z"
                    fill="#FFFFFF">

                  </path>
                </g>
              </svg></div>

          </div>

          <div class="frontback hide" id="autreStack">
            <h3>Autres Outils</h3>
            <div class="stacks stack10"><svg width="800px" height="800px" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <title>Git</title>
                <path
                  d="M2.58536 17.4132C1.80488 16.6327 1.80488 15.3673 2.58536 14.5868L14.5868 2.58536C15.3673 1.80488 16.6327 1.80488 17.4132 2.58536L29.4146 14.5868C30.1951 15.3673 30.1951 16.6327 29.4146 17.4132L17.4132 29.4146C16.6327 30.1951 15.3673 30.1951 14.5868 29.4146L2.58536 17.4132Z"
                  fill="#EE513B" />
                <path
                  d="M12.1489 5.06152L10.9336 6.27686L14.0725 9.41577C13.9455 9.68819 13.8746 9.99201 13.8746 10.3124C13.8746 11.222 14.4461 11.9981 15.2496 12.3012V19.9798C14.4461 20.2829 13.8746 21.059 13.8746 21.9686C13.8746 23.1422 14.826 24.0936 15.9996 24.0936C17.1732 24.0936 18.1246 23.1422 18.1246 21.9686C18.1246 21.144 17.6549 20.429 16.9684 20.0768V12.3117L19.9689 15.3122C19.8481 15.5791 19.7809 15.8754 19.7809 16.1874C19.7809 17.361 20.7323 18.3124 21.9059 18.3124C23.0795 18.3124 24.0309 17.361 24.0309 16.1874C24.0309 15.0138 23.0795 14.0624 21.9059 14.0624C21.6778 14.0624 21.4582 14.0983 21.2522 14.1648L18.0297 10.9423C18.0914 10.7433 18.1246 10.5317 18.1246 10.3124C18.1246 9.13878 17.1732 8.18738 15.9996 8.18738C15.7803 8.18738 15.5688 8.22061 15.3697 8.2823L12.1489 5.06152Z"
                  fill="white" />
              </svg></div>
            <div class="stacks stack11"><svg width="800px" height="800px" viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg" fill="none">
                <title>Figma</title>
                <path fill="#1ABCFE"
                  d="M8.55 8c0-1.289 1.019-2.333 2.275-2.333C12.082 5.667 13.1 6.71 13.1 8c0 1.289-1.018 2.333-2.275 2.333C9.57 10.333 8.55 9.29 8.55 8z" />
                <path fill="#0ACF83"
                  d="M4 12.667c0-1.289 1.019-2.334 2.275-2.334H8.55v2.334C8.55 13.955 7.531 15 6.275 15S4 13.955 4 12.667z" />
                <path fill="#FF7262"
                  d="M8.55 1v4.667h2.275c1.257 0 2.275-1.045 2.275-2.334C13.1 2.045 12.082 1 10.825 1H8.55z" />
                <path fill="#F24E1E"
                  d="M4 3.333c0 1.289 1.019 2.334 2.275 2.334H8.55V1H6.275C5.019 1 4 2.045 4 3.333z" />
                <path fill="#A259FF"
                  d="M4 8c0 1.289 1.019 2.333 2.275 2.333H8.55V5.667H6.275C5.019 5.667 4 6.71 4 8z" />
              </svg></div>
            <div class="stacks stack12"><svg width="800px" height="800px" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <title>Vscode</title>
                <path
                  d="M29.821,4.321,24.023,2,11.493,14.212,3.833,8.385l-1.654.837V22.8l1.644.827,7.65-5.827L24.023,30l5.8-2.321V4.321ZM4.65,19.192V12.818L8.2,15.985,4.65,19.192ZM16,15.985l7.082-5.3V21.324l-7.092-5.339H16Z"
                  style="fill:#007acc" />
              </svg></div>
            <div class="stacks stack13"><svg width="800px" height="800px" viewBox="0 0 15 15" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <title>Vercel</title>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.49998 1L6.92321 2.00307L1.17498 12L0.599976 13H1.7535H13.2464H14.4L13.825 12L8.07674 2.00307L7.49998 1ZM7.49998 3.00613L2.3285 12H12.6714L7.49998 3.00613Z"
                  fill="#000000" />
              </svg></div>
            <div class="stacks stack14"><svg width="800px" height="800px" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <rect width="24" height="24" fill="#D40001" />
                  <title>NPM</title>
                  <path fill="#FFF"
                    d="M16.7179487,7.92840493 L12.2051282,7.92840493 L12.2051282,20.2494172 L4,20.2494172 L4,3 L12.2051282,3 L20,3 L20,7.92840493 L20,20.2494172 L16.7179487,20.2494172 L16.7179487,7.92840493 Z" />
                </g>
              </svg></div>

            <div class="stacks stack1">
              <svg xmlns="http://www.w3.org/2000/svg" width="474" height="474" viewBox="0 0 474 474" version="1.1">
                <title>NVDA</title>
                <path
                  d="M 0 237.002 L 0 474.004 237.250 473.752 L 474.500 473.500 474.752 236.750 L 475.004 0 237.502 0 L 0 0 0 237.002 M 0.492 237.500 C 0.492 367.850, 0.608 421.026, 0.750 355.670 C 0.892 290.313, 0.892 183.663, 0.750 118.670 C 0.608 53.676, 0.492 107.150, 0.492 237.500 M 72 48.976 C 71.175 49.447, 68.732 50.606, 66.570 51.549 C 61.523 53.752, 53.753 61.522, 51.548 66.570 C 50.604 68.732, 49.420 71.281, 48.916 72.236 C 47.610 74.712, 47.694 402, 49 402 C 49.550 402, 50 402.661, 50 403.470 C 50 407.690, 62.058 422, 65.614 422 C 66.376 422, 67 422.450, 67 423 C 67 423.550, 68.125 424, 69.500 424 C 70.875 424, 72 424.450, 72 425 C 72 425.650, 86.147 426, 112.441 426 C 138.323 426, 153.104 425.640, 153.500 425 C 153.840 424.450, 154.991 424, 156.059 424 C 157.127 424, 158 423.550, 158 423 C 158 422.450, 158.685 422, 159.521 422 C 160.879 422, 169.929 413.578, 172.500 409.922 C 175.698 405.374, 178.003 397.394, 177.985 390.929 C 177.961 381.655, 174.262 373.262, 167 366 C 158.693 357.693, 155.867 356.768, 136.713 356.092 C 123.343 355.621, 119.733 355.195, 118.978 354 C 117.804 352.142, 117.676 185.059, 118.847 183.213 C 119.402 182.338, 120.751 184.098, 123.062 188.713 C 124.930 192.446, 126.711 195.725, 127.017 196 C 127.324 196.275, 128.908 199.200, 130.538 202.500 C 132.167 205.800, 133.725 208.725, 134 209 C 134.641 209.641, 138.115 216.135, 143.898 227.500 C 146.416 232.450, 148.713 236.725, 149.002 237 C 149.291 237.275, 150.640 239.750, 152 242.500 C 153.360 245.250, 154.740 247.725, 155.066 248 C 155.393 248.275, 156.952 251.200, 158.533 254.500 C 160.113 257.800, 161.653 260.725, 161.954 261 C 162.256 261.275, 163.161 262.850, 163.966 264.500 C 164.770 266.150, 166.262 268.738, 167.282 270.250 C 168.302 271.762, 168.768 273.007, 168.318 273.015 C 167.868 273.024, 167.956 273.361, 168.513 273.765 C 169.071 274.169, 170.640 276.750, 172 279.500 C 173.360 282.250, 174.704 284.725, 174.987 285 C 175.448 285.449, 178.127 290.451, 185.163 304 C 186.448 306.475, 187.725 308.725, 188.001 309 C 188.276 309.275, 190.268 313.100, 192.427 317.500 C 194.587 321.900, 196.647 325.725, 197.007 326 C 197.366 326.275, 198.297 327.963, 199.074 329.750 C 199.852 331.538, 200.828 333, 201.244 333 C 201.660 333, 202 333.863, 202 334.917 C 202 335.971, 202.337 336.983, 202.750 337.167 C 203.162 337.350, 204.848 340.200, 206.495 343.500 C 208.142 346.800, 209.717 349.725, 209.995 350 C 210.479 350.479, 219.211 367.079, 221.432 371.742 C 222.019 372.975, 222.838 373.988, 223.250 373.992 C 223.662 373.996, 224 374.862, 224 375.917 C 224 376.971, 224.337 377.983, 224.750 378.167 C 225.422 378.465, 227.326 381.909, 235.163 397 C 236.448 399.475, 237.838 401.650, 238.250 401.833 C 238.662 402.017, 239 402.754, 239 403.471 C 239 404.723, 245.228 414.379, 247.434 416.548 C 249.756 418.829, 257.940 424, 259.230 424 C 259.984 424, 261.072 424.472, 261.648 425.048 C 262.954 426.354, 293.098 425.694, 301 424.187 C 309.583 422.550, 312.343 421.911, 314.500 421.063 C 315.600 420.631, 318.300 419.737, 320.500 419.078 C 327.893 416.860, 344.671 409.533, 346 407.941 C 346.275 407.612, 348.863 406.069, 351.750 404.512 C 354.637 402.956, 357 401.304, 357 400.841 C 357 400.378, 357.675 400, 358.500 400 C 359.325 400, 360 399.550, 360 399 C 360 398.450, 360.470 398, 361.045 398 C 361.620 398, 363.143 396.988, 364.428 395.750 C 365.714 394.512, 368.731 391.950, 371.133 390.056 C 373.535 388.161, 377.975 383.775, 381 380.309 C 384.025 376.842, 387.962 372.342, 389.750 370.308 C 391.538 368.274, 393 366.317, 393 365.960 C 393 365.603, 394.086 364.048, 395.412 362.504 C 396.739 360.960, 398.426 358.527, 399.161 357.098 C 399.896 355.669, 400.776 354.275, 401.118 354 C 404.015 351.667, 420.010 315.932, 420.003 311.809 C 420.001 310.879, 420.398 309.872, 420.885 309.571 C 421.371 309.271, 422.019 307.781, 422.323 306.262 C 422.628 304.743, 423.379 301.475, 423.993 299 C 432.614 264.243, 433.347 224.858, 425.991 191.500 C 425.385 188.750, 424.639 185.033, 424.334 183.241 C 424.029 181.448, 423.379 179.734, 422.890 179.432 C 422.400 179.129, 422 177.777, 422 176.427 C 422 175.077, 421.592 173.191, 421.092 172.236 C 420.593 171.281, 419.488 168.250, 418.636 165.500 C 416.375 158.202, 414.467 153.133, 413.685 152.352 C 413.308 151.975, 413 150.842, 413 149.833 C 413 148.825, 412.550 148, 412 148 C 411.450 148, 411.005 147.438, 411.011 146.750 C 411.025 145.236, 403.979 131.075, 402.316 129.272 C 401.664 128.566, 400.846 127.091, 400.498 125.994 C 400.150 124.897, 399.446 124, 398.933 124 C 398.420 124, 398 123.495, 398 122.877 C 398 121.627, 390.210 110.422, 385.571 105 C 378.377 96.592, 362.972 82.044, 357 78.019 C 353.425 75.610, 350.350 73.270, 350.167 72.819 C 349.983 72.369, 349.458 72, 348.999 72 C 348.541 72, 344.740 69.975, 340.554 67.500 C 336.368 65.025, 332.280 63, 331.471 63 C 330.662 63, 330 62.550, 330 62 C 330 61.450, 329.319 61, 328.486 61 C 327.654 61, 326.191 60.603, 325.236 60.117 C 320.012 57.459, 309.855 54, 307.276 54 C 306.089 54, 304.869 53.598, 304.565 53.106 C 304.261 52.614, 302.322 51.956, 300.256 51.645 C 298.190 51.333, 293.800 50.569, 290.500 49.946 C 282.508 48.439, 253.201 47.599, 250.568 48.802 C 237.882 54.598, 232.986 58.892, 228.528 68.135 L 226 73.374 226 112.701 C 226 134.330, 226.400 152.809, 226.889 153.764 C 227.378 154.719, 228.616 157.214, 229.639 159.308 C 231.750 163.628, 239.695 172, 241.684 172 C 242.408 172, 243 172.340, 243 172.756 C 243 173.533, 245.819 174.801, 252.071 176.837 C 256.445 178.261, 267.652 178.372, 268.500 177 C 268.840 176.450, 269.949 176, 270.965 176 C 273.748 176, 280.866 171.941, 284.993 168 C 293.481 159.897, 296 152.815, 296 137.062 C 296 128.217, 296.282 126, 297.408 126 C 298.998 126, 311.259 132.447, 314.328 134.897 C 324.893 143.330, 330.120 148.869, 336.805 158.712 C 341.235 165.236, 348 178.502, 348 180.665 C 348 181.399, 348.450 182, 349 182 C 349.550 182, 350 183.125, 350 184.500 C 350 185.875, 350.399 187, 350.887 187 C 351.374 187, 352.007 188.238, 352.293 189.750 C 352.579 191.263, 353.696 196.100, 354.774 200.500 C 355.852 204.900, 357.323 211.650, 358.042 215.500 C 359.720 224.479, 359.737 258.335, 358.068 266.500 C 354.609 283.429, 353.621 287.581, 352.846 288.450 C 352.381 288.972, 352 290.215, 352 291.211 C 352 294.380, 343.240 312.655, 337.721 321 C 333.371 327.577, 318.169 342.181, 313.259 344.500 C 310.929 345.600, 309.018 346.837, 309.011 347.250 C 309.005 347.663, 308.100 348, 307 348 C 305.900 348, 305 348.450, 305 349 C 305 349.550, 303.913 350, 302.583 350 C 301.254 350, 300.017 350.379, 299.833 350.841 C 299.650 351.304, 298.057 351.964, 296.294 352.308 C 292.875 352.974, 291.441 351.630, 287.966 344.500 C 287.161 342.850, 286.264 341.275, 285.972 341 C 285.680 340.725, 283.654 336.900, 281.470 332.500 C 279.287 328.100, 277.163 324.350, 276.750 324.167 C 276.337 323.983, 276 323.008, 276 322 C 276 320.992, 275.663 320.017, 275.250 319.833 C 274.527 319.512, 272.595 316.118, 267.092 305.500 C 265.666 302.750, 264.163 300.350, 263.750 300.167 C 263.337 299.983, 263 299.008, 263 298 C 263 296.992, 262.663 296.017, 262.250 295.833 C 261.590 295.540, 255.468 284.440, 252.556 278.258 C 251.975 277.025, 251.162 276.012, 250.750 276.008 C 250.338 276.004, 250 275.137, 250 274.083 C 250 273.029, 249.662 272.017, 249.250 271.833 C 248.578 271.535, 246.674 268.091, 238.837 253 C 237.552 250.525, 236.268 248.275, 235.984 248 C 235.529 247.560, 229.654 236.445, 226.605 230.258 C 225.997 229.025, 225.162 228.012, 224.750 228.008 C 224.338 228.004, 224 227.138, 224 226.083 C 224 225.029, 223.655 224.017, 223.234 223.833 C 222.813 223.650, 220.678 219.900, 218.490 215.500 C 216.301 211.100, 214.282 207.275, 214.004 207 C 213.725 206.725, 212.823 205.150, 212 203.500 C 211.177 201.850, 210.277 200.275, 210.002 200 C 209.726 199.725, 207.706 195.900, 205.513 191.500 C 203.321 187.100, 201.260 183.275, 200.933 183 C 200.607 182.725, 199.703 181.037, 198.926 179.250 C 198.148 177.463, 197.172 176, 196.756 176 C 196.340 176, 196 175.138, 196 174.083 C 196 173.029, 195.662 172.017, 195.250 171.833 C 194.838 171.650, 193.167 168.800, 191.538 165.500 C 189.908 162.200, 188.333 159.275, 188.038 159 C 187.540 158.537, 184.335 152.511, 176.603 137.500 C 174.903 134.200, 173.284 131.275, 173.006 131 C 172.728 130.725, 170.880 127.350, 168.899 123.500 C 166.919 119.650, 163.826 113.800, 162.026 110.500 C 160.226 107.200, 157.298 101.800, 155.518 98.500 C 153.739 95.200, 150.814 89.800, 149.018 86.500 C 147.223 83.200, 144.145 77.350, 142.178 73.500 C 140.212 69.650, 138.242 66.350, 137.801 66.167 C 137.361 65.983, 136.991 65.308, 136.979 64.667 C 136.947 62.869, 125.507 52, 123.647 52 C 122.741 52, 122 51.550, 122 51 C 122 50.450, 121.127 50, 120.059 50 C 118.991 50, 117.840 49.550, 117.500 49 C 116.735 47.762, 74.162 47.739, 72 48.976"
                  stroke="none" fill="#65059b" fill-rule="evenodd" />
                <path
                  d="M 72 48.976 C 71.175 49.447, 68.732 50.606, 66.570 51.549 C 61.523 53.752, 53.753 61.522, 51.548 66.570 C 50.604 68.732, 49.420 71.281, 48.916 72.236 C 47.610 74.712, 47.694 402, 49 402 C 49.550 402, 50 402.661, 50 403.470 C 50 407.690, 62.058 422, 65.614 422 C 66.376 422, 67 422.450, 67 423 C 67 423.550, 68.125 424, 69.500 424 C 70.875 424, 72 424.450, 72 425 C 72 425.650, 86.147 426, 112.441 426 C 138.323 426, 153.104 425.640, 153.500 425 C 153.840 424.450, 154.991 424, 156.059 424 C 157.127 424, 158 423.550, 158 423 C 158 422.450, 158.685 422, 159.521 422 C 160.879 422, 169.929 413.578, 172.500 409.922 C 175.698 405.374, 178.003 397.394, 177.985 390.929 C 177.961 381.655, 174.262 373.262, 167 366 C 158.693 357.693, 155.867 356.768, 136.713 356.092 C 123.343 355.621, 119.733 355.195, 118.978 354 C 117.804 352.142, 117.676 185.059, 118.847 183.213 C 119.402 182.338, 120.751 184.098, 123.062 188.713 C 124.930 192.446, 126.711 195.725, 127.017 196 C 127.324 196.275, 128.908 199.200, 130.538 202.500 C 132.167 205.800, 133.725 208.725, 134 209 C 134.641 209.641, 138.115 216.135, 143.898 227.500 C 146.416 232.450, 148.713 236.725, 149.002 237 C 149.291 237.275, 150.640 239.750, 152 242.500 C 153.360 245.250, 154.740 247.725, 155.066 248 C 155.393 248.275, 156.952 251.200, 158.533 254.500 C 160.113 257.800, 161.653 260.725, 161.954 261 C 162.256 261.275, 163.161 262.850, 163.966 264.500 C 164.770 266.150, 166.262 268.738, 167.282 270.250 C 168.302 271.762, 168.768 273.007, 168.318 273.015 C 167.868 273.024, 167.956 273.361, 168.513 273.765 C 169.071 274.169, 170.640 276.750, 172 279.500 C 173.360 282.250, 174.704 284.725, 174.987 285 C 175.448 285.449, 178.127 290.451, 185.163 304 C 186.448 306.475, 187.725 308.725, 188.001 309 C 188.276 309.275, 190.268 313.100, 192.427 317.500 C 194.587 321.900, 196.647 325.725, 197.007 326 C 197.366 326.275, 198.297 327.963, 199.074 329.750 C 199.852 331.538, 200.828 333, 201.244 333 C 201.660 333, 202 333.863, 202 334.917 C 202 335.971, 202.337 336.983, 202.750 337.167 C 203.162 337.350, 204.848 340.200, 206.495 343.500 C 208.142 346.800, 209.717 349.725, 209.995 350 C 210.479 350.479, 219.211 367.079, 221.432 371.742 C 222.019 372.975, 222.838 373.988, 223.250 373.992 C 223.662 373.996, 224 374.862, 224 375.917 C 224 376.971, 224.337 377.983, 224.750 378.167 C 225.422 378.465, 227.326 381.909, 235.163 397 C 236.448 399.475, 237.838 401.650, 238.250 401.833 C 238.662 402.017, 239 402.754, 239 403.471 C 239 404.723, 245.228 414.379, 247.434 416.548 C 249.756 418.829, 257.940 424, 259.230 424 C 259.984 424, 261.072 424.472, 261.648 425.048 C 262.954 426.354, 293.098 425.694, 301 424.187 C 309.583 422.550, 312.343 421.911, 314.500 421.063 C 315.600 420.631, 318.300 419.737, 320.500 419.078 C 327.893 416.860, 344.671 409.533, 346 407.941 C 346.275 407.612, 348.863 406.069, 351.750 404.512 C 354.637 402.956, 357 401.304, 357 400.841 C 357 400.378, 357.675 400, 358.500 400 C 359.325 400, 360 399.550, 360 399 C 360 398.450, 360.470 398, 361.045 398 C 361.620 398, 363.143 396.988, 364.428 395.750 C 365.714 394.512, 368.731 391.950, 371.133 390.056 C 373.535 388.161, 377.975 383.775, 381 380.309 C 384.025 376.842, 387.962 372.342, 389.750 370.308 C 391.538 368.274, 393 366.317, 393 365.960 C 393 365.603, 394.086 364.048, 395.412 362.504 C 396.739 360.960, 398.426 358.527, 399.161 357.098 C 399.896 355.669, 400.776 354.275, 401.118 354 C 404.015 351.667, 420.010 315.932, 420.003 311.809 C 420.001 310.879, 420.398 309.872, 420.885 309.571 C 421.371 309.271, 422.019 307.781, 422.323 306.262 C 422.628 304.743, 423.379 301.475, 423.993 299 C 432.614 264.243, 433.347 224.858, 425.991 191.500 C 425.385 188.750, 424.639 185.033, 424.334 183.241 C 424.029 181.448, 423.379 179.734, 422.890 179.432 C 422.400 179.129, 422 177.777, 422 176.427 C 422 175.077, 421.592 173.191, 421.092 172.236 C 420.593 171.281, 419.488 168.250, 418.636 165.500 C 416.375 158.202, 414.467 153.133, 413.685 152.352 C 413.308 151.975, 413 150.842, 413 149.833 C 413 148.825, 412.550 148, 412 148 C 411.450 148, 411.005 147.438, 411.011 146.750 C 411.025 145.236, 403.979 131.075, 402.316 129.272 C 401.664 128.566, 400.846 127.091, 400.498 125.994 C 400.150 124.897, 399.446 124, 398.933 124 C 398.420 124, 398 123.495, 398 122.877 C 398 121.627, 390.210 110.422, 385.571 105 C 378.377 96.592, 362.972 82.044, 357 78.019 C 353.425 75.610, 350.350 73.270, 350.167 72.819 C 349.983 72.369, 349.458 72, 348.999 72 C 348.541 72, 344.740 69.975, 340.554 67.500 C 336.368 65.025, 332.280 63, 331.471 63 C 330.662 63, 330 62.550, 330 62 C 330 61.450, 329.319 61, 328.486 61 C 327.654 61, 326.191 60.603, 325.236 60.117 C 320.012 57.459, 309.855 54, 307.276 54 C 306.089 54, 304.869 53.598, 304.565 53.106 C 304.261 52.614, 302.322 51.956, 300.256 51.645 C 298.190 51.333, 293.800 50.569, 290.500 49.946 C 282.508 48.439, 253.201 47.599, 250.568 48.802 C 237.882 54.598, 232.986 58.892, 228.528 68.135 L 226 73.374 226 112.701 C 226 134.330, 226.400 152.809, 226.889 153.764 C 227.378 154.719, 228.616 157.214, 229.639 159.308 C 231.750 163.628, 239.695 172, 241.684 172 C 242.408 172, 243 172.340, 243 172.756 C 243 173.533, 245.819 174.801, 252.071 176.837 C 256.445 178.261, 267.652 178.372, 268.500 177 C 268.840 176.450, 269.949 176, 270.965 176 C 273.748 176, 280.866 171.941, 284.993 168 C 293.481 159.897, 296 152.815, 296 137.062 C 296 128.217, 296.282 126, 297.408 126 C 298.998 126, 311.259 132.447, 314.328 134.897 C 324.893 143.330, 330.120 148.869, 336.805 158.712 C 341.235 165.236, 348 178.502, 348 180.665 C 348 181.399, 348.450 182, 349 182 C 349.550 182, 350 183.125, 350 184.500 C 350 185.875, 350.399 187, 350.887 187 C 351.374 187, 352.007 188.238, 352.293 189.750 C 352.579 191.263, 353.696 196.100, 354.774 200.500 C 355.852 204.900, 357.323 211.650, 358.042 215.500 C 359.720 224.479, 359.737 258.335, 358.068 266.500 C 354.609 283.429, 353.621 287.581, 352.846 288.450 C 352.381 288.972, 352 290.215, 352 291.211 C 352 294.380, 343.240 312.655, 337.721 321 C 333.371 327.577, 318.169 342.181, 313.259 344.500 C 310.929 345.600, 309.018 346.837, 309.011 347.250 C 309.005 347.663, 308.100 348, 307 348 C 305.900 348, 305 348.450, 305 349 C 305 349.550, 303.913 350, 302.583 350 C 301.254 350, 300.017 350.379, 299.833 350.841 C 299.650 351.304, 298.057 351.964, 296.294 352.308 C 292.875 352.974, 291.441 351.630, 287.966 344.500 C 287.161 342.850, 286.264 341.275, 285.972 341 C 285.680 340.725, 283.654 336.900, 281.470 332.500 C 279.287 328.100, 277.163 324.350, 276.750 324.167 C 276.337 323.983, 276 323.008, 276 322 C 276 320.992, 275.663 320.017, 275.250 319.833 C 274.527 319.512, 272.595 316.118, 267.092 305.500 C 265.666 302.750, 264.163 300.350, 263.750 300.167 C 263.337 299.983, 263 299.008, 263 298 C 263 296.992, 262.663 296.017, 262.250 295.833 C 261.590 295.540, 255.468 284.440, 252.556 278.258 C 251.975 277.025, 251.162 276.012, 250.750 276.008 C 250.338 276.004, 250 275.137, 250 274.083 C 250 273.029, 249.662 272.017, 249.250 271.833 C 248.578 271.535, 246.674 268.091, 238.837 253 C 237.552 250.525, 236.268 248.275, 235.984 248 C 235.529 247.560, 229.654 236.445, 226.605 230.258 C 225.997 229.025, 225.162 228.012, 224.750 228.008 C 224.338 228.004, 224 227.138, 224 226.083 C 224 225.029, 223.655 224.017, 223.234 223.833 C 222.813 223.650, 220.678 219.900, 218.490 215.500 C 216.301 211.100, 214.282 207.275, 214.004 207 C 213.725 206.725, 212.823 205.150, 212 203.500 C 211.177 201.850, 210.277 200.275, 210.002 200 C 209.726 199.725, 207.706 195.900, 205.513 191.500 C 203.321 187.100, 201.260 183.275, 200.933 183 C 200.607 182.725, 199.703 181.037, 198.926 179.250 C 198.148 177.463, 197.172 176, 196.756 176 C 196.340 176, 196 175.138, 196 174.083 C 196 173.029, 195.662 172.017, 195.250 171.833 C 194.838 171.650, 193.167 168.800, 191.538 165.500 C 189.908 162.200, 188.333 159.275, 188.038 159 C 187.540 158.537, 184.335 152.511, 176.603 137.500 C 174.903 134.200, 173.284 131.275, 173.006 131 C 172.728 130.725, 170.880 127.350, 168.899 123.500 C 166.919 119.650, 163.826 113.800, 162.026 110.500 C 160.226 107.200, 157.298 101.800, 155.518 98.500 C 153.739 95.200, 150.814 89.800, 149.018 86.500 C 147.223 83.200, 144.145 77.350, 142.178 73.500 C 140.212 69.650, 138.242 66.350, 137.801 66.167 C 137.361 65.983, 136.991 65.308, 136.979 64.667 C 136.947 62.869, 125.507 52, 123.647 52 C 122.741 52, 122 51.550, 122 51 C 122 50.450, 121.127 50, 120.059 50 C 118.991 50, 117.840 49.550, 117.500 49 C 116.735 47.762, 74.162 47.739, 72 48.976"
                  stroke="none" fill="#fbfafb" fill-rule="evenodd" />
              </svg>
            </div>
          </div>

          <div class="containertouchme">
            <div class="touchme">
              <span class="material-symbols-outlined">
                touch_app
              </span>
            </div>
          </div>

        </div>


        <div class="gridCard gridCard-box-4" style="grid-area: box-4" id="containerCardPreview"
          onclick="changeProject()">


          <div class="cardProjectPreview show" id="previewProject1">
            <img src="/img/1.png" alt="">
            <div class="textCardPreview">
              <h3>Projet 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quia. Sit, similique nobis facilis
                dolorem.</p>
            </div>
            <div class="boutonCardPreview">
              <a href="">Voir le dépot</a>
              <a href="">Project complet</a>
            </div>
          </div>


          <div class="cardProjectPreview hide" id="previewProject2">
            <img src="/img/1.png">
            <div class="textCardPreview">
              <h3>Projet 2</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad neque fugiat quibusdam assumenda suscipit
                a officiis.
              </p>
            </div>
            <div class="boutonCardPreview">
              <a href="">Voir le dépot</a>
              <a href="">Project complet</a>
            </div>
          </div>


          <div class="cardProjectPreview hide" id="previewProject3">
            <img src="/img/1.png" alt="">
            <div class="textCardPreview">
              <h3>Projet 3</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio sapiente est provident ipsum nobis
                labore eum molestiae</p>
            </div>
            <div class="boutonCardPreview">
              <a href="">Voir le dépot</a>
              <a href="">Project complet</a>
            </div>
          </div>

          <div class="containertouchme">
            <div class="touchme">
              <span class="material-symbols-outlined">
                touch_app
              </span>
            </div>
          </div>

        </div>





        <div class="gridCard gridCard-box-5" style="grid-area: box-5">
          <p>Comming soon</p>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer'); -%>