<%- include('partials/header'); -%>
    <main>
        <div class="gridAccueil">
            <div class="gridCard gridCard-box-1" style="grid-area: box-1"></div>
            <div class="gridCard gridCard-box-2" style="grid-area: box-2"></div>
            <div class="gridCard gridCard-box-3" style="grid-area: box-3"></div>
            <div class="gridCard gridCard-box-4" style="grid-area: box-4"></div>
            <div class="gridCard gridCard-box-5" style="grid-area: box-5"></div>
        </div>
    </main>
    <%- include('partials/footer'); -%>